<footer class="footer">
	<div class="container">
		<div class="footer__wrapper">
			<nav class="footer__nav">
				<a href="index.html" class="footer__logo_wrapper">
					<img class="footer__logo" src="./assets/images/dev/svg/logo.svg" alt="Logo" />
				</a>
				<ul class="footer__list">
					<li class="footer__item">
						<a class="footer__link" href="policy.html" target="_blank">Політика конфіденційності</a>
					</li>
					<li class="footer__item footer__item--media">
						<span class="footer__label">Швидкий зв'язок:</span>
						<a class="footer__link footer__link--media" href="https://t.me/iva_tkachuk" target="_blank">
							<img class="footer__media" src="./assets/images/dev/svg/telegram.svg" alt="Telegram" />
						</a>
						<a class="footer__link footer__link--media" href="https://wa.me/380954340403" target="_blank">
							<img class="footer__media" src="./assets/images/dev/svg/WhatsApp.svg" alt="WhatsApp" />
						</a>
					</li>
				</ul>
			</nav>
			<span class="footer__autor">
				Розробка сайту:
				<a class="footer__autor_link" href="https://t.me/iva_tkachuk" target="_blank">IT</a>
			</span>
		</div>
	</div>
</footer>
