* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%; // was
	scroll-behavior: smooth; // was
	font-size: 62.5%;
}

body {
	font-size: 1.4rem;
	font-family: $font;
	line-height: 1.5;
	color: $black_1;

	&::before {
		width: 0;
		height: 0;

		background-color: rgba($blue, 0);
		backdrop-filter: blur(0);
		-webkit-backdrop-filter: blur(0);
		opacity: 0;

		z-index: -1;
		transition: backdrop-filter 0.2s 0.1s, -webkit-backdrop-filter 0.2s 0.1s, background-color 0.2s 0.1s;

		@include pseudo-full;
	}

	&.body-overflow {
		position: relative;

		&::before {
			width: 100%;
			height: 100%;

			background-color: rgba($blue, 0.1);
			backdrop-filter: blur(5px);
			-webkit-backdrop-filter: blur(5px);
			opacity: 1;

			z-index: 2;
		}
	}
}

section {
	overflow: hidden;

	@media (min-width: 768px) {
		padding-block: 8rem;
	}

	@media (max-width: 767px) {
		padding-block: 5rem;
	}

	&.section--curved_out_top {
		@media (min-width: 768px) {
			position: relative;

			&::before {
				position: absolute;
				top: -1px;
				left: 0;
				right: 0;

				width: 100vw;
				height: 80px;

				background: url("data:image/svg+xml,%3Csvg viewBox='0 0 1920 101' fill='none' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'%3E%3Cpath d='M0 0H1920V101C1920 101 1474 25 958 25C442 25 0 101 0 101V0Z' fill='white'/%3E%3C/svg%3E%0A")
					no-repeat top center;
				background-size: 100% 100%;

				z-index: 1;
				content: "";
			}
		}
	}

	&.section--curved_out_bottom {
		@media (min-width: 768px) {
			position: relative;

			&::after {
				position: absolute;
				bottom: -1px;
				left: 0;
				right: 0;

				width: 100vw;
				height: 80px;

				background: url("data:image/svg+xml,%3Csvg viewBox='0 0 1920 101' fill='none' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1920 0V101H0V0C0 0 442 76 958 76C1474 76 1920 0 1920 0Z' fill='white'/%3E%3C/svg%3E%0A")
					no-repeat top center;

				background-size: 100% 100%;

				transform: translate(180deg);

				z-index: 1;
				content: "";
			}
		}
	}

	&.section--curved_in_top {
		@media (min-width: 768px) {
			position: relative;

			&::before {
				position: absolute;
				top: -1px;
				left: 0;
				right: 0;

				width: 100vw;
				height: 80px;

				background: url("data:image/svg+xml,%3Csvg viewBox='0 0 1914 80' fill='none' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'%3E%3Cpath d='M1 1.46839C752.06 105.316 1170.71 105.705 1913 1.46839H1Z' fill='white' stroke='white'/%3E%3C/svg%3E%0A")
					no-repeat top center;
				background-size: 100% 100%;

				z-index: 1;
				content: "";
			}
		}
	}

	&.section--curved_in_bottom {
		@media (min-width: 768px) {
			position: relative;

			&::after {
				position: absolute;
				bottom: -1px;
				left: 0;
				right: 0;

				width: 100vw;
				height: 80px;

				background: url("data:image/svg+xml,%3Csvg viewBox='0 0 1914 80' fill='none' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'%3E%3Cpath d='M1 79.5001C752.06 -24.3471 1170.71 -24.7368 1913 79.5001H1Z' fill='white' stroke='white'/%3E%3C/svg%3E%0A")
					no-repeat top center;
				background-size: 100% 100%;

				transform: translate(180deg);

				z-index: 1;
				content: "";
			}
		}
	}
}

img {
	display: block; // was
	user-select: none; // was
	pointer-events: none; // was
}

button {
	font-family: inherit;
}

a:not(.button) {
	color: inherit; // was

	text-underline-offset: 4px;

	transition: 0.3s; // was

	&:hover {
		text-decoration-color: transparent; // was
		color: $yellow;
	}
}

// typography
b,
strong {
	font-weight: 700;
}

// h1,
// .h1 {
// }

h2,
.h2 {
	font-weight: 600;

	@media (min-width: 768px) {
		font-size: 3rem;
	}

	@media (max-width: 767px) {
		font-size: 2.4rem;
	}
}

h3,
.h3 {
	font-weight: 600;

	@media (min-width: 768px) {
		font-size: 2.2rem;
	}

	@media (max-width: 767px) {
		font-size: 1.8rem;
	}
}

h4,
.h4 {
	font-weight: 800;

	@media (min-width: 768px) {
		font-size: 1.8rem;
	}

	@media (max-width: 767px) {
		font-size: 1.6rem;
	}
}

h5,
.h5 {
	font-weight: 600;
	font-size: 1.6rem;
}

// h6,
// .h6 {
// }

.text--small {
	font-size: 1.4rem;
	font-weight: 500;
}

// input
input {
	padding-inline: 3.5rem;

	font-family: $font;
	color: $gray;

	background: $white;

	box-shadow: 0 3px 1.5rem 0 rgba($black, 0.1);

	border: 1px solid transparent;
	border-radius: $border-100;

	&:not([type="checkbox"]) {
		@media (min-width: 768px) {
			min-height: 7rem;
		}

		@media (max-width: 767px) {
			min-height: 5rem;
		}
	}

	&:hover,
	&:focus-visible {
		outline: none;
	}

	&::placeholder {
		font-weight: 400;
		color: $gray;
	}

	@extend .text--small;
}

.checkbox {
	position: relative;

	display: flex;
	align-items: center;
	gap: 1.2rem;

	text-align: start;

	cursor: pointer;

	.checkbox__input {
		position: absolute;
		z-index: -1;

		opacity: 0;
	}

	.checkbox__title {
		display: inline-block;

		position: relative;

		padding-left: 2.6rem;

		@extend .text--small;

		font-weight: 400;

		&::before,
		&::after {
			@include pseudo-y-center;
		}

		&::before {
			width: 1.4rem;
			height: 1.4rem;

			border: 1px solid $yellow;
			border-radius: 4px;

			@include transition_background;
		}

		&::after {
			left: 4px;

			width: 1rem;
			height: 1rem;

			background: url(../images/svg/checkmark.svg) no-repeat;

			opacity: 0;

			@include transition_opacity;
		}
	}

	.checkbox__input:checked + .checkbox__title::after {
		opacity: 1;
	}

	.checkbox__input:checked + .checkbox__title::before {
		background-color: $yellow;
	}
}

//to do
// 1. Валидация форм
// 2. Клики по табу
// 3. Семантика
// 4. Выделение цветом
// 5. Политика
// 6. Возможно смена языка
// 7. Попробовать закрепить навигацию
// 8. Миксины радиуса и транзишн
// 9. Линк бланк
// 10. Переписать transform на новый стиль
// 11. Навести порядок в dev изображениях
// 12. Перенести типограцию и сделать через @include
