* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%; // was
  scroll-behavior: smooth; // was
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
  font-family: $font;
  line-height: 1.5;
  color: $black_1;

  // &.grid {
  //   height: 100%;
  //   display: grid;
  //   grid-template-rows: auto 1fr auto;
  //   grid-template-areas:
  //     'header'
  //     'main'
  //     'footer';

  //   .header {
  //     grid-area: header;
  //   }

  //   .main {
  //     grid-area: main;
  //   }

  //   .footer {
  //     grid-area: footer;
  //   }
  // }
}

section {
  @media (min-width: 768px) {
    padding-block: 5rem;
  }

  @media (max-width: 767px) {
    padding-block: 3rem;
  }
}

img {
  display: block; // was
  user-select: none; // was
  pointer-events: none; // was
}

a:not(.button) {
  color: inherit; // was
  transition: 0.3s; // was

  &:hover {
    text-decoration-color: transparent; // was
    color: $yellow;
  }
}

b,
strong {
  font-weight: 800;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// .h1,
// .h2,
// .h3,
// .h4,
// .h5,
// .h6 {
// }

// h1,
// .h1 {
// }

h2,
.h2 {
  font-weight: 600;

  @media (min-width: 768px) {
    font-size: 3rem;
  }

  @media (max-width: 767px) {
    font-size: 2.4rem;
  }
}

h3,
.h3 {
  font-weight: 600;

  @media (min-width: 768px) {
    font-size: 2.2rem;
  }

  @media (max-width: 767px) {
    font-size: 1.8rem;
  }
}

h4,
.h4 {
  font-weight: 800;

  @media (min-width: 768px) {
    font-size: 1.8rem;
  }

  @media (max-width: 767px) {
    font-size: 1.6rem;
  }
}

h5,
.h5 {
  font-weight: 600;
  font-size: 1.6rem;
}

// h6,
// .h6 {
// }
