// global
@mixin image-cover {
	width: 100%;
	height: 100%;

	object-fit: cover;
}

@mixin image-contain {
	width: 100%;
	height: 100%;

	object-fit: contain;
}

@mixin image-round {
	border-radius: 50%;

	aspect-ratio: 1;
	overflow: hidden;
}

@mixin pseudo-center {
	position: absolute;
	top: 50%;
	left: 50%;

	content: "";
	transform: translate(-50%, -50%);
}

@mixin pseudo-y-center {
	position: absolute;
	top: 50%;
	left: 0;

	content: "";
	transform: translateY(-50%);
}

@mixin pseudo-x-center {
	position: absolute;
	top: 0;
	left: 50%;

	content: "";
	transform: translateX(-50%);
}

@mixin pseudo-left-top {
	position: absolute;
	top: 0;
	left: 0;

	content: "";
}

@mixin pseudo-full {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	content: "";
}

//others
@mixin card-style {
	background-color: $white;

	border-radius: $border-30;

	box-shadow: 0 0.5rem 2rem 0 rgba($black, 0.1);
	overflow: hidden;

	@media (min-width: 768px) {
		padding: 3rem 3.5rem;
	}

	@media (max-width: 767px) {
		padding: 2rem 3rem;
	}
}

@mixin button-fill-effect($fill-color) {
	&:after,
	&:before {
		position: absolute;
		bottom: 0;
		left: 0;

		height: 100%;

		border-radius: $border-100;

		content: "";
	}

	&:after {
		width: 100%;
		background-color: $fill-color;
		z-index: -2;
	}

	&:before {
		width: 0%;

		background-color: darken($fill-color, 10%);

		will-change: background-color;
		transition: background-color 0.2s, width 0.2s;
		z-index: -1;
	}

	&:hover,
	&:focus-visible {
		color: $white;

		&:before {
			width: 100%;
		}
	}
}
