.container {
	margin: 0 auto;

	@media (min-width: 768px) {
		max-width: 112.4rem;
		padding: 0 5rem;
	}

	@media (max-width: 767px) {
		max-width: 100%;
		padding: 0 2rem;
	}
}

.scroll-lock {
	overflow: hidden;
}
