// ronts
$font: "Montserrat Alternates", sans-serif;

// colors

$black: #000000;
$black_1: #4b5258;

$blue: #43aaff;
$blue_1: #f2f9ff;

$gray: #959a9d;
$gray_1: #e8e8e8;

$green: #20ff87;
$green_2: #7ad06d;

$yellow: #ffc24d;
$white: #ffffff;

// numbers
$border-100: 10rem;
$border-30: 3rem;

// @media (min-width: 480px) {
// }
// @media (max-width: 479px) {
// }

// @media (min-width: 768px) {
// }
// @media (max-width: 767px) {
// }

// @media (min-width: 1025px) {
// }
// @media (max-width: 1024px) {
// }

// @media (min-width: 1201px) {
// }
// @media (max-width: 1200px) {
// }
