// Fonts
$font: "Montserrat Alternates";

// Colors
$white: #ffffff;
$black: #000000;

$black_1: #4b5258;

$blue: #43aaff;
$blue_1: #f2f9ff;

$yellow: #ffc24d;

$gray: #959a9d;
$gray_1: #e8e8e8;

$green: #20ff87;
