// ronts
$font: "Montserrat Alternates", sans-serif;

// colors
$black: #000000;
$black_1: #4b5258;

$blue: #43aaff;
$blue_1: #f2f9ff;

$gray: #959a9d;
$gray_1: #e8e8e8;

$green: #20ff87;
$green_2: #7ad06d;

$yellow: #ffc24d;
$white: #ffffff;
$red: #ff435c;

// border radius
$border-100: 10rem;
$border-50: 5rem;
$border-30: 3rem;
$border-20: 2rem;
$border-10: 1rem;
