.button {
	position: relative;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	padding-inline: 2.2rem;

	font-size: 1.2rem;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	font-family: inherit;
	color: $white;

	background: transparent;

	border: 1px solid transparent;
	border-radius: $border-100;

	cursor: pointer;
	overflow: hidden;
	z-index: 1;
	will-change: background-color, border, color;
	transition: background-color 0.2s, border 0.2s, color 0.2s;

	@media (min-width: 768px) {
		min-height: 7rem;
	}

	@media (max-width: 767px) {
		min-height: 5rem;
	}

	&.button--blue {
		border-color: $blue;
		box-shadow: inset 0 4px 1rem 0 rgba($white, 0.3), 3px 4px 1.2rem 0px rgba($blue, 0.6);

		@include button-fill-effect($blue);
	}

	&.button--yellow {
		border-color: $yellow;

		box-shadow: inset 0 4px 1rem 0 rgba($white, 0.3), 3px 4px 1.2rem 0px rgba($yellow, 0.6);

		@include button-fill-effect($yellow);
	}

	&.button--overline {
		color: $black_1;

		border-color: $blue;

		@include button-fill-effect(rgba($blue, 0.8));

		&:after {
			background-color: transparent;
		}
	}

	&.button--basic {
		min-height: fit-content;

		color: $blue;

		&:hover,
		&:focus-visible {
			color: $yellow;
		}
	}

	&.button--small {
		@media (min-width: 768px) {
			min-height: 5.5rem;
		}

		@media (max-width: 767px) {
			min-height: 4.5rem;
		}
	}

	&.button--big {
		@media (min-width: 768px) {
			min-height: 8rem;
		}

		@media (max-width: 767px) {
			min-height: 6rem;
		}
	}
}
