.heading {
	display: flex;
	flex-direction: column;
	align-items: center;

	text-align: center;

	@media (min-width: 768px) {
		max-width: 76rem;
		margin-inline: auto;
	}

	&:not(:last-child) {
		margin-bottom: 3rem;
	}

	&.heading--left {
		@media (min-width: 768px) {
			text-align: left;
		}
	}

	&.heading--white {
		color: $white;
	}
}

.heading__label {
	padding: 1.5rem 4.4rem;

	text-align: center;
	color: $white;

	background: $yellow;

	border-radius: $border-30;

	&:not(:last-child) {
		margin-bottom: 2rem;
	}
}

.heading__title {
	&:not(:last-child) {
		margin-bottom: 1rem;
	}

	br {
		@media (max-width: 767px) {
			display: none;
		}
	}

	em {
		color: $blue;
	}
}

.heading__subtitle {
	color: $gray;

	@media (min-width: 768px) {
		max-width: 90%;
	}
}
