form {
	position: relative;
}

input {
	padding-inline: 3.5rem;
	width: 100%;

	font-family: $font;
	color: $gray;

	background: $white;

	border: 1px solid transparent;
	border-radius: $border-100;

	box-shadow: 0 3px 1.5rem 0 rgba($black, 0.1);

	&:not([type="checkbox"]) {
		@media (min-width: 768px) {
			min-height: 7rem;
		}

		@media (max-width: 767px) {
			min-height: 5rem;
		}
	}

	&.input--small {
		@media (min-width: 768px) {
			min-height: 5.6rem;
		}

		@media (max-width: 767px) {
			min-height: 4.4rem;
		}
	}

	.form--error & {
		border: 1px solid $red;
	}

	.form--success & {
		border: 1px solid $green;
	}

	&:hover,
	&:focus-visible {
		outline: none;
	}

	&::placeholder {
		font-weight: 400;
		color: $gray;
	}

	@include text--small;
}

.checkbox {
	position: relative;

	display: flex;
	align-items: center;
	gap: 1.2rem;

	text-align: start;

	cursor: pointer;

	.checkbox__input {
		width: 1.4rem;
		height: 1.4rem;

		cursor: pointer;
		pointer-events: auto;
		opacity: 0;
		z-index: 2;

		@include pseudo-y-center;
	}

	.checkbox__title {
		position: relative;

		display: inline-block;

		padding-left: 2.6rem;

		@include text--small;

		font-weight: 400;

		&::before,
		&::after {
			@include pseudo-y-center;
		}

		&::before {
			width: 1.4rem;
			height: 1.4rem;

			border: 1px solid $yellow;
			border-radius: 4px;

			will-change: background;
			transition: background 0.2s ease;
		}

		&::after {
			left: 4px;

			width: 1rem;
			height: 1rem;

			background: url(../images/svg/checkmark.svg) no-repeat;

			opacity: 0;

			will-change: opacity;
			transition: opacity 0.2s ease;
		}
	}

	.checkbox__input:checked + .checkbox__title::before {
		background-color: $yellow;
	}

	.checkbox__input:checked + .checkbox__title::after {
		opacity: 1;
	}
}

.form__message {
	position: absolute;
	top: -3.8rem;
	left: 0;

	padding: 0.5rem;
	width: max-content;

	color: $black;

	background-color: rgba($white, 0.7);

	border-radius: $border-10;

	will-change: opacity, visibility;
	transition: opacity 0.2s, visibility 0.2s;

	opacity: 0;
	visibility: hidden;

	&.form__message--ssucces {
		.form--success & {
			opacity: 1;
			visibility: visible;
		}
	}

	&.form__message--error {
		.form--error & {
			opacity: 1;
			visibility: visible;
		}
	}
}
