.advantages {
	background-color: $blue_1;
}

.advantages__content {
	display: grid;
	gap: 2rem;

	@media (min-width: 1025px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media (max-width: 1024px) {
		grid-template-columns: 1fr;
	}
}

.advantages__item {
	&.advantages__item--span {
		@media (min-width: 1025px) {
			grid-column: span 2;
		}
	}
}
