.calculation {
	background: url("../images/dev/calculation/image_1.jpg") center / cover no-repeat;
}

.calculation__wrapper {
	position: relative;

	display: flex;
	gap: 3rem;

	@media (min-width: 768px) {
		align-items: flex-start;
	}

	@media (max-width: 767px) {
		flex-direction: column;
		align-items: center;
	}
}

.calculation__column {
	&.calculation__column--content {
		position: relative;

		z-index: 1;

		@media (min-width: 768px) {
			flex: 1 0 47.5rem;
		}
	}

	&.calculation__column--image {
		@media (min-width: 768px) {
			align-self: flex-end;

			margin-bottom: -14rem;
			margin-left: -21rem;
		}

		@media (max-width: 767px) {
			max-width: 80%;
		}
	}
}

.calculation__content_wrapper {
	@include card-style;

	@media (min-width: 768px) {
		max-width: 40rem;
	}

	@media (max-width: 767px) {
		text-align: center;
	}
}

.calculation__description {
	display: inline-block;

	@extend h5;

	&:not(:last-child) {
		@media (min-width: 768px) {
			margin-bottom: 2rem;
		}

		@media (max-width: 767px) {
			margin-bottom: 1rem;
		}
	}
}

.calculation__media {
	display: flex;
	align-items: center;

	@media (min-width: 768px) {
		gap: 1rem;
	}

	@media (max-width: 767px) {
		gap: 2rem;
	}

	&:not(:last-child) {
		@media (min-width: 768px) {
			margin-bottom: 2rem;
		}

		@media (max-width: 767px) {
			margin-bottom: 1rem;
		}
	}
}

.calculation__media_item {
	flex: 0 1 50%;

	border-radius: $border-20;

	overflow: hidden;

	will-change: background-color;
	transition: background-color 0.2s;

	@media (min-width: 768px) {
		height: 7rem;
	}

	@media (max-width: 767px) {
		height: 5rem;
	}

	&.calculation__media_item--telegram {
		background-color: $blue;

		&:hover,
		&:focus-visible {
			background-color: darken($blue, 10%);
		}
	}

	&.calculation__media_item--whatsapp {
		background-color: $green_2;

		&:hover,
		&:focus-visible {
			background-color: darken($green_2, 10%);
		}
	}
}

.calculation__media_link {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;
}

.calculation__media_image {
	max-width: 3.2rem;

	@include image-contain;
}

.calculation__time {
	position: relative;

	display: flex;
	align-items: center;
	gap: 0.6rem;

	color: $gray;

	@extend .text--small;

	& img {
		width: 1.8rem;
		height: 1.8rem;
	}
}

.calculation__image {
	@include image-contain;
}
