:root {
	@media (min-width: 768px) {
		--gallery-slide-content--width: 50rem;
	}

	@media (max-width: 767px) and (min-width: 480px) {
		--gallery-slide-content--width: calc(100vw - 12rem);
	}

	@media (max-width: 479px) {
		--gallery-slide-content--width: calc(100vw - 6rem);
	}
}

.gallery-slide__wrapper {
	display: flex;
	align-items: center;

	padding: 1rem;

	background-color: $white;

	border-radius: $border-30;
	box-shadow: 0 0.5rem 2rem 0 rgba($black, 0.1);

	@media (max-width: 1024px) {
		flex-direction: column;
	}

	@media (min-width: 768px) {
		gap: 5rem;
	}

	@media (max-width: 767px) {
		gap: 3rem;
	}
}

.gallery-slide__images {
	position: relative;

	width: var(--gallery-slide-content--width);

	border-radius: $border-30;
	cursor: col-resize;
	overflow: hidden;

	@media (min-width: 768px) {
		max-height: 53rem;
	}

	@media (max-width: 767px) and (min-width: 480px) {
		max-height: 43rem;
	}

	@media (max-width: 479px) {
		max-height: 30rem;
	}
}

.gallery-slide__image {
	display: block;

	width: var(--gallery-slide-content--width);
	height: auto;

	object-position: center;
	object-fit: cover;
	pointer-events: none;
	user-select: none;
}

.gallery-slide__after_wrapp {
	position: absolute;
	top: 0;
	right: 0;

	width: 50%;
	height: 100%;

	overflow: hidden;
	z-index: 1;
	transform: translateZ(0);
}

.gallery-slide__image--after {
	position: absolute;
	top: 0;
	right: 0;

	height: 100%;

	object-position: center;
}

.gallery-slide__handle {
	position: absolute;
	top: 0;
	left: calc(50% - 2.5rem);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 5rem;
	height: 100%;

	user-select: none;
	z-index: 2;
}

.gallery-slide__line {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;

	width: 2px;

	background: $white;

	z-index: 3;
}

.gallery-slide__button {
	position: absolute;
	top: 50%;

	background: $yellow;

	box-shadow: inset 0 4px 1rem 0 rgba($white, 0.3);

	z-index: 4;
	cursor: ew-resize;
	transform: translateY(-50%);

	@include image-round;

	@media (min-width: 768px) {
		left: calc(50% - 3.1rem);

		height: 6.2rem;
		width: 6.2rem;
	}

	@media (max-width: 767px) {
		left: calc(50% - 2.2rem);

		height: 4.4rem;
		width: 4.4rem;
	}

	&:before,
	&:after {
		position: absolute;

		background: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.26318 5.42128L1.86695 0.357847C1.52538 0.123845 1.18122 0 0.895157 0C0.342111 0 0 0.44386 0 1.18682V12.1304C0 12.8725 0.34168 13.3155 0.893433 13.3155C1.17993 13.3155 1.51859 13.1915 1.86091 12.9569L9.26059 7.89355C9.73647 7.56739 10 7.12849 10 6.65715C10.0001 6.18612 9.73959 5.74733 9.26318 5.42128Z' fill='white' /%3E%3C/svg%3E")
			no-repeat;

		transform: translateX(2px);
		content: "";

		@media (min-width: 768px) {
			width: 1rem;
			height: 1.4rem;
		}

		@media (max-width: 767px) {
			width: 0.8rem;
			height: 1.2rem;
		}
	}

	&:before {
		top: 50%;
		left: 50%;
	}

	&:after {
		bottom: 50%;
		right: 50%;

		rotate: 180deg;
	}
}

.gallery-slide__content {
	@media (min-width: 1025px) {
		padding-right: 2.2rem;
	}

	@media (max-width: 1024px) and (min-width: 480px) {
		width: 100%;
		max-width: var(--gallery-slide-content--width);
	}

	@media (max-width: 479px) {
		padding-inline: 1rem;
		max-width: 100%;

		text-align: center;
	}
}

.gallery-slide__subtitle {
	font-weight: 700;

	&:not(:last-child) {
		@media (min-width: 768px) {
			margin-bottom: 2.5rem;
		}

		@media (max-width: 767px) {
			margin-bottom: 1.5rem;
		}
	}
}

.gallery-slide__description {
	color: $gray;

	@extend .text--small;

	&:not(:last-child) {
		margin-bottom: 1.5rem;
	}

	p {
		&:not(:last-child) {
			margin-bottom: 0.5rem;
		}
	}

	strong {
		font-weight: 700;
		color: $black_1;
	}
}

.gallery-slide__label {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	min-height: 5rem;
	padding-inline: 2rem;

	font-size: 1.4rem;
	font-weight: 600;
	color: $blue;

	border: 1px solid $blue;
	border-radius: $border-100;
}
