.navigation {
	padding-block: 2rem;

	&.navigation--sticky {
		position: sticky;
		top: 0;
		left: 0;

		width: 100%;

		z-index: 10;
	}

	@media (max-width: 1024px) {
		display: none;
	}
}

.navigation__list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;

	min-height: 7rem;

	@include card-style;

	@media (min-width: 768px) {
		padding-block: 0;
	}
}

.navigation__item {
	display: inline-block;

	margin-inline: auto;
}

.navigation__link {
	display: inline-flex;
	align-items: center;

	min-height: 7rem;

	text-align: center;

	@extend .text--small;

	.navigation__item--active & {
		padding-inline: 3.5rem;

		color: $white;

		background-color: $blue;

		border-radius: $border-100;

		&:hover,
		&:focus-visible {
			color: $white;
		}
	}
}

.navigation__link {
	text-decoration: none;
}
