.accordion__item {
	font-size: 1.4rem;

	background: $white;

	border-radius: $border-20;

	box-shadow: 0 3px 1.5rem 0 rgba($black, 0.1);
	overflow: hidden;

	&:not(:last-child) {
		margin-bottom: 1rem;
	}
}

.accordion__trigger {
	position: relative;

	display: inline-flex;
	align-items: center;

	width: 100%;

	text-align: left;
	color: $black_1;

	background-color: transparent;

	border: none;

	will-change: color;
	transition: color 0.2s ease;
	cursor: pointer;

	@extend .text--small;

	@media (min-width: 768px) {
		padding: 2.6rem 8rem 2.6rem 3rem;
	}

	@media (max-width: 767px) {
		padding: 2rem 6rem 2rem 2.4rem;
	}

	&:hover {
		color: $blue;
	}
}

.accordion__trigger_icon {
	position: absolute;
	top: 50%;

	background-color: $blue;

	box-shadow: 0 2px 4px 0 $blue;
	transform: translateY(-50%);
	will-change: background-color;
	transition: background-color 0.2s ease;

	@include image-round;

	@media (min-width: 768px) {
		right: 3rem;

		width: 3.4rem;
		height: 3.4rem;
	}

	@media (max-width: 767px) {
		right: 2.4rem;

		width: 2.6rem;
		height: 2.6rem;
	}

	&::after {
		width: 0.9rem;
		height: 0.6rem;

		background: url("data:image/svg+xml,%3Csvg viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.91255 5.37577L8.49564 1.60423C8.72369 1.36431 8.72369 0.975328 8.49564 0.735528C8.2678 0.49571 7.89826 0.49571 7.67044 0.735528L4.49995 4.07276L1.32957 0.735625C1.10164 0.495806 0.732137 0.495806 0.504295 0.735625C0.27636 0.975444 0.27636 1.36441 0.504295 1.60432L4.08744 5.37587C4.20142 5.49578 4.35064 5.55566 4.49993 5.55566C4.6493 5.55566 4.79863 5.49566 4.91255 5.37577Z' fill='white'/%3E%3C/svg%3E%0A")
			no-repeat;

		@include pseudo-center;

		will-change: background;
		transition: background 0.2s ease;

		.accordion__item--active_state & {
			background: url("data:image/svg+xml,%3Csvg viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.0876 0.738484L0.504505 4.51003C0.276459 4.74995 0.276459 5.13893 0.504505 5.37873C0.732348 5.61855 1.10189 5.61855 1.32971 5.37873L4.5002 2.04149L7.67058 5.37863C7.89851 5.61845 8.26802 5.61845 8.49586 5.37863C8.72379 5.13881 8.72379 4.74985 8.49586 4.50993L4.91271 0.738387C4.79873 0.618477 4.64951 0.558591 4.50022 0.558591C4.35085 0.558591 4.20152 0.618594 4.0876 0.738484Z' fill='white'/%3E%3C/svg%3E%0A")
				no-repeat;
		}
	}
}

.accordion__body {
	max-height: 0;

	opacity: 0;
	overflow: hidden;

	will-change: max-height, opacity;
	transition: max-height 0.2s ease, opacity 0.2s ease;
	will-change: max-height;
	pointer-events: none;

	@media (min-width: 768px) {
		padding-right: 3.4rem;
	}

	@media (max-width: 767px) {
		padding-right: 2.6rem;
	}

	.accordion__item--active_state & {
		opacity: 1;
		pointer-events: initial;
	}
}

.accordion__content {
	margin-top: -4px;

	@media (min-width: 768px) {
		padding: 0 3rem 2.6rem;
	}

	@media (max-width: 767px) {
		padding: 0 2.4rem 2rem;
	}
}
